body{
    background-color: black;
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }

.gif {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;    
}

.hed_dek h1{
font-size:45px;
color:floralwhite;
}
.hed_dek h2{
  font-size:35px;
  color:floralwhite;
  }
  
.hed_dek{
text-align:center;
}
  
.graf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graf p {
  max-width: 650px;
  margin: 1em 0;
}


.container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.container h1{
text-align: center;
}

.active {
  display: block !important; 
  position: sticky;
  top: 0;
}

.text-overlay {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 15px;
  border-radius: 5px; 
  height:auto;
  color: white; 
  position: relative; 
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  max-width: calc(100% - 40px); 
}


img {
  max-width: 100%; 
  height: auto;
  display: block; 
  margin: auto; 
}

p {
  color: floralwhite;
  font-size: 23px;
}

h1 {
  color:floralwhite;
  text-align: center;
  font-size: 30px;
}

h2, h3 {
  color:floralwhite;
  font-size: 27px;
}

footer {
    max-width: fit-content;
    margin: 0 auto;
}
.scene {
 position:sticky;
  transition:0s;
  display: block !important;
  top: 0;
}





  @media only screen and (max-width: 600px) and (orientation: portrait) {
    .scene {
      position:sticky;
       transition:0s;
       display: block !important; 
       position: sticky;
       top: 0;
       max-width: 100%;
       height:auto;
     }
    .container {
      display: flex;
      flex-wrap: wrap;
      height: 300px;
      overflow-y: scroll;
      width: auto;
    }
    h1{
      text-align:center;
      }
    .active {
      display: block !important;
      position: sticky;
      top: 0;
    }
    img {
      max-width: 100%;
      height: auto;
      margin: auto;
    }
    .text-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px;
      border-radius: 5px;
      color: white;
      position: relative;
      z-index: 1;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      max-width: calc(100% - 40px);
    }
  }
